<div id="morningform" class="initiallyHidden">
    <h2>Morning report</h2>
    <form action="/morningform" method="POST">
        <div class="form-group my-error-form">
            <label for="fdate">Date:</label><br>
            <%- include('./validationErrors.ejs', {validationErrors: errors?.morningDateString}) %>
            <input type="date" id="fdate" name="date" value="<%= values?.morningDateString || date %>"><br>
            <label for="fsleep_duration">Sleep duration (in hours):</label><br>
            <%- include('./validationErrors.ejs', {validationErrors: {...errors?.sleepDurationString, ...errors?.sleepDuration}}) %>
            <input type="number" id="fsleep_duration" name="sleep_duration" step="0.1" min="0"
                value="<%= values?.sleepDuration %>"><br>
            <label for="fsleep_quality">Sleep quality: </label>
            <%- include('./validationErrors.ejs', {validationErrors: {...errors?.sleepQualityString, ...errors?.sleepQuality}}) %>
            <output><%= values?.sleepQuality || 3 %></output><input type="range"
                value="<%= values?.sleepQuality || 3 %>" min="1" max="5" id="fsleep_quality" name="sleep_quality"
                oninput="this.previousElementSibling.value = this.value"><br>
            <label for="fmorning_mood">Generic mood: </label>
            <%- include('./validationErrors.ejs', {validationErrors: {...errors?.morningMoodString, ...errors?.morningMood}}) %>
            <output><%= values?.morningMood || 3 %></output><input type="range" value="<%= values?.morningMood || 3 %>"
                min="1" max="5" id="fmorning_mood" name="morning_mood"
                oninput="this.previousElementSibling.value = this.value">
        </div>
        <input type="submit" value="Submit" /><br>
    </form>
</div>