<h2>Yesterday's report:</h2>
<p>sleep duration: <%= yesterdaysReport.sleep_duration %></p>
<p>sleep quality: <%= yesterdaysReport.sleep_quality %></p>
<p>sports duration: <%= yesterdaysReport.sports_duration %></p>
<p>study duration: <%= yesterdaysReport.study_duration %></p>
<p>eating quality: <%= yesterdaysReport.eating_quality %></p>
<p>morning mood: <%= yesterdaysReport.morning_mood %></p>
<p>evening mood: <%= yesterdaysReport.evening_mood %></p>
<p>avg mood: <%= yesterdaysReport.avg_mood %></p>

<h2>Today's report:</h2>
<p>sleep duration: <%= todaysReport.sleep_duration %></p>
<p>sleep quality: <%= todaysReport.sleep_quality %></p>
<p>sports duration: <%= todaysReport.sports_duration %></p>
<p>study duration: <%= todaysReport.study_duration %></p>
<p>eating quality: <%= todaysReport.eating_quality %></p>
<p>morning mood: <%= todaysReport.morning_mood %></p>
<p>evening mood: <%= todaysReport.evening_mood %></p>
<p>avg mood: <%= todaysReport.avg_mood %></p>

<h3><%= mood%></h3>