<%- include('./partials/header.ejs') %>
<h1>Register!</h1>
<form class="my-error-form" method="POST" action="/auth/register">
    <label for="name">Email:</label><br>
    <%- include('./partials/validationErrors.ejs', {validationErrors: errors?.email}) %>
    <input id="email" type="email" name="email" value="<%= values?.email ? values.email : "" %>" />
    <label for="name">Password:</label>
    <%- include('./partials/validationErrors.ejs', {validationErrors: errors?.password}) %>
    <input id="password" type="password" name="password" />
    <label for="name">Repeat password:</label>
    <%- include('./partials/validationErrors.ejs', {validationErrors: errors?.verification}) %>
    <input id="verification" type="password" name="verification" /><br>
    <input type="submit" value="Submit" />
</form><br>
<a href="/auth/login">Already an user? Click here to login</a>
<%- include('./partials/footer.ejs') %>