<%- include('./partials/header.ejs') %>

<div style="width:500px;">
    <input id="morningToggle" type="button" name="answer" value="Submit morning report" style="display:inline-block;" />
    <p style="display:inline-block;"><%= morningReportDoneToday ? "(done today)" :  "(not done today)"%></p><br>
    <input id="eveningToggle" type="button" name="answer" value="Submit evening report" style="display:inline-block;" />
    <p style="display:inline-block;"><%= eveningReportDoneToday ? "(done today)" :  "(not done today)"%></p><br>
</div>

<script>
    $('#morningToggle').click(function () {
        $('#morningform').show();
        $('#eveningform').hide();
    });
    $('#eveningToggle').click(function () {
        $('#eveningform').show();
        $('#morningform').hide();
    });
</script>

<%- include('./partials/morningReportForm.ejs') %>
<%- include('./partials/eveningReportForm.ejs') %>

<%- include('./partials/footer.ejs') %>