<%- include('./partials/header.ejs') %>
<form action="/behavior/summary/weekform" method="POST">
    <input type="number" name="week" min="1" max="52" value="<%= week %>">
    <input type="submit" value="Select week" />
</form>
<form action="/behavior/summary/monthform" method="POST">
    <input type="number" name="month" min="1" max="12" value="<%= month %>">
    <input type="submit" value="Select month" />
</form>

<h1>Averages for <%= current.number%>. <%= current.type%>:</h1>
<p>sleep duration: <%= average_sleep_duration %></p>
<p>sleep quality: <%= average_sleep_quality %></p>
<p>sports duration: <%= average_sports_duration %></p>
<p>study duration: <%= average_study_duration %></p>
<p>eating quality: <%= average_eating_quality %></p>
<p>morning mood: <%= average_morning_mood %></p>
<p>evening mood: <%= average_evening_mood %></p>
<a href="/">main</a>
<%- include('./partials/footer.ejs') %>