<%- include('./partials/header.ejs') %>
<form action="/auth/logout" method="POST">
    <input type="submit" value="Log out" /><br>
</form>
<a href="/auth/login">click here to login</a><br>
<a href="/auth/register">click here to register</a><br>
<a href="/behavior/summary">click here to show summary</a><br>
<h1>my-monitor</h1>
<ul>
    <% reports.forEach(report => { %>
    <li><a href="/behavior/<%= report.id %>"><%= report.date %></a></li>
    <% }); %>
</ul>
<a href="/behavior/summary">summary</a>

<%- include('./partials/reportComparison.ejs') %>
<%- include('./partials/morningReportForm.ejs') %>
<%- include('./partials/eveningReportForm.ejs') %>
<%- include('./partials/footer.ejs') %>