<%- include('./partials/header.ejs') %>
<h1>my-monitor</h1>
<ul>
    <% reports.forEach(report => { %>
    <li><a href="/behavior/<%= report.id %>"><%= report.date %></a></li>
    <% }); %>
</ul>
<a href="/behavior/summary">summary</a>

<%- include('./partials/reportComparison.ejs') %>
<%- include('./partials/morningReportForm.ejs') %>
<%- include('./partials/eveningReportForm.ejs') %>
<%- include('./partials/footer.ejs') %>