<%- include('./partials/header.ejs') %>
<h1>my-monitor</h1>
<ul>
    <% morningReports.forEach(report => { %>
    <li><a href="/behavior/<%= report.id %>"><%= report.date %></a></li>
    <% }); %>
</ul>
<a href="/behavior/summary">summary</a>

<h2>Yesterday's morning report:</h2>
<p>sleep duration: <%= yesterdaysMorningReport.sleep_duration %></p>
<p>sleep quality: <%= yesterdaysMorningReport.sleep_quality %></p>
<p>mood: <%= yesterdaysMorningReport.mood %></p>

<h2>Today's morning report:</h2>
<p>sleep duration: <%= todaysMorningReport.sleep_duration %></p>
<p>sleep quality: <%= todaysMorningReport.sleep_quality %></p>
<p>mood: <%= todaysMorningReport.mood %></p>

<h3>Mood is <%=
todaysMorningReport.mood > yesterdaysMorningReport.mood 
    ? "improving :D"
    : todaysMorningReport.mood === yesterdaysMorningReport.mood
        ? "the same as yesterday :)"
        : "not improving :("
%></h3>


<%- include('./partials/morningReportForm.ejs') %>
<%- include('./partials/footer.ejs') %>